// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #222;
  cursor: default;
  background-color: #efefef;
}

body header {
  margin: 4em .5em;
  text-align: center;
}
  body header h1 {
    margin: 0;
    font-size: 24pt;
  }
  body header h2 {
    margin: 0;
    color: #444;
    font-size: 14pt;
  }

body main {

}
  body main input {
    color: #444;
    border: none;
    width: 300px;
    font-size: 16pt;
    padding: .5em .25em;
    background-color: transparent;
    border-bottom: .125em solid #999;
  }
  body main #root {
    color: #222;
    font-size: 16pt;
  }
